# PORT
PORT = 3001

# DATABASE
DB_HOST = docker:mongopw@localhost
DB_PORT = 27017
DB_DATABASE = ""

# TOKEN
SECRET_KEY = secretKey
DOMAIN = ""
# LOG
LOG_FORMAT = dev
LOG_DIR = ../logs

# CORS
ORIGIN = http://localhost:3000
CREDENTIALS = true
